#CO2text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

#CO2text h1 {
	text-align: center;
	margin: 0;
	color: #202020;
}

#CO2tons {
	font-weight: 700 !important;
	font-size: 70px;
	color: #000;
}

#treeBox {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#treeBox img {
	margin: 0 auto;
}

#treeBox h3 {
	font-size: 25px;
}

.button {
	font-size: 17px;
	font-weight: 700 !important;
	width: 100%;
}

#buttons {
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: space-between;
	gap: 10px;
}

#homepage {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
	height: calc(100% - 50px);
	margin: auto;
}

/* #homepage * {
	margin: auto;
} */