/* Main */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #e9ecdd;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

#root {
  padding: 10px;
  padding-bottom: calc(10px+50px);
  height: 100%;
}

/* General */
button,
input[type=submit] {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: opacity 250ms ease-in-out;
  opacity: 1;
  background-color: #688e72;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: fit-content;
}

button:hover,
button:focus,
button:focus-visible,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:focus-visible {
  opacity: 0.7;
  cursor: pointer;
}

/* Loading */
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #485e42;
  z-index: 99999;
  /* animation: slideUpInit 1100ms ease-in-out forwards; */
}

.slide-down {
  animation: slideDown 500ms ease-in-out forwards !important;
}

.slide-up {
  animation: slideUp 500ms ease-in-out 150ms forwards !important;
}

/* Footer */
#footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px 15px;
  height: 50px;
  background-color: #688e72;
  color: white;
  margin-top: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer button {
  width: fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
}

#footer p {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

#footer a {
  color: #ffff;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
  display: inline;
  position: relative;
  text-align: center;
}

#footer p a::before {
  content: '';
  display: block;
  border-radius: 10px;
  width: 0px;
  height: 2px;
  bottom: -3.5px;
  right: 0;
  left: 0;
  background-color: #e9ecdd;
  margin: 0 auto;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

#footer a:hover,
#footer a:focus,
#footer a:focus-visible {
  cursor: pointer;
}

#footer p a:hover::before,
#footer p a:focus::before,
#footer p a:focus-visible::before {
  width: 100%;
}

#homeIcon {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

a:hover #homeIcon,
a:focus #homeIcon,
a:focus-visible #homeIcon {
  opacity: 0.7;
}

@media (max-width: 480px) {
  #footerCredit div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  #footerCredit {
    display: none !important;
  }

  #footer {
    justify-content: space-between;
  }
}

/* Wallet */
#wallet {
  position: fixed;
  width: 115px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  color: #020202;
  font-weight: 500;
  margin: 10px;
  padding: 2px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: right;
}

#wallet img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#wallet p {
  position: absolute;
  right: 0;
  margin: 10px;
  font-weight: 600;
}

/* Keyframes */
@keyframes slideUpInit {
  0% {
    display: block;
    top:0;
    opacity: 1;
    z-index: 99999;
  }
  99% {
    top: -100vh;
    opacity: 1;
    z-index: 99999;
  }
  100% {
    top: -100vh;
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes slideUp {
  0% {
    display: block;
    top:0;
    opacity: 1;
    z-index: 99999;
  }
  100% {
    top: -100vh;
    opacity: 1;
    z-index: 99999;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    display: none;
    top: 0;
    height: 0;
    z-index: 99999;
  }
  1% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 100vh;
    z-index: 99999;
  }
}

/* Maps */
.gmnoprint a, .gmnoprint span {
  display:none;
}

.gmnoprint div {
  background:none !important;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

#map {
  width: 100vw;
  padding: 50px;
  padding-bottom: 0;
  height: 100%;
}

#map * { /* actual map element itself (not container) */
  height: inherit;
  border-radius: 10px;
}

.leaflet-control-zoom {
  display: none !important;
}

.leaflet-control-container {
  display: none;
}
