#routePlan {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 210px;
	position: relative;
	row-gap: 10px;
}

#RoutePlannerForm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 75%;
	height: 100px;
	padding: 0;
}

.input {
	border: none;
	border-radius: 7px;
	padding: 7px;
	margin-bottom: 10px;
}

.label {
	font-size: 15px;
	text-align: left;
	padding: 0 12px;
}

#map {
	height: 50%;
}

@media (min-width: 650px) {
	#RoutePlannerForm {
		width: 487.5px;
	}
}

#routePlanFull {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px;
	height: calc(100% - 50px);
	margin: auto;
}

#submit {
	margin: 0 auto
}

.hiddenButton {
	visibility: hidden;
}

/* Suggesitons */
.suggestionBox {
	list-style-type: none;
	padding: 0px;
	position: absolute;
	height: fit-content;
	width: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
}

.suggestion {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	opacity: 1;
	transition: opacity 150ms ease-in-out transform 150ms ease-in-out;
	font-size: 10px;
}

.suggestion:hover,
.suggestion:focus,
.suggestion:focus-within {
	cursor: pointer;
	opacity: 0.7;
	transform: scale(1.05);
}

#disabledCheck {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	padding: 5px;
}

#disabledCheck input[type="checkbox"] {
	accent-color: #74992e;
	/* border: solid white;
	box-shadow: none;
	appearance: none;
	background-color: #fff;
	width: 20px;
	height: 20px; */
}

/* Tabs */
.tabs {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%); 
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 98; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: fit-content;
	display: flex;
	flex-direction: row;
}

.activeTab {
    padding: 10px 20px;
    background-color: #688e72;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
}

.inactiveTab {
    padding: 10px 20px;
    background-color: #e9ecdd;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
}

.activeTab:hover,
.inactiveTab:hover {
    opacity: 0.8;
}
